<div class="container-fluid pb-3 quickview" style="display:none;">
  <h2>
      Quick View of Skills
    </h2>
    <div class="row">
      
    <div class="list-group col-sm-6">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h2 class="mb-1">ASP.net/C#</h2>
        </div>
        <p class="mb-1">Tata Consultancy Services(2017)</p>

      </a>
      
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h2 class="mb-1 ">Javascript</h2>
        </div>
        <p class="mb-1">Tata Consultancy Services (2017)</p>
        <small >Oppsource.com (2016-2017)</small><br/>
        <small class="text-muted">Sanger & Eby (2014-2015)</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h2 class="mb-1 ">Angular 1/ Angular 2+</h2>
        </div>
        <p class="mb-1">Tata Consultancy Services (2017)</p>
      </a>
    </div>
    <div class="list-group col-sm-6">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h2 class="mb-1">Python w/ Django</h2>
        </div>
        <p class="mb-1">Oppsource.com (2016-2017)</p>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h2 class="mb-1">SQL/ SQL Server</h2>
        </div>
        <p class="mb-1">Tata Consultancy Services (2017)</p>
        <small >Oppsource.com (2016-2017)</small><br/>
        <small class="text-muted">Sanger & Eby (2014-2015)</small>
      </a>
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h2 class="mb-1">Java</h2>
        </div>
        <p class="mb-1">Tata Consultancy Services (2017)</p>
      </a>
    </div>
  </div>
</div>

<div class="container mb-3 toggle" (click)="toggleQuickView(viewContext)">
 <i class="fa fa-angle-double-up" aria-hidden="true"></i> {{ viewContext }} Quick View <i class="fa fa-angle-double-down" aria-hidden="true"></i>
</div>

<div class="container-fluid experience mb-3">
    <h2>
      Past Experience
    </h2>
</div>
    <div class=" mb-3">
      <div class="col-sm-8 odd">
          <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1 ">Tata Consultancy Services</h2>
          </div>
      </div>
      <div class="col-sm-8 even">
      <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1 ">Oppsource.com</h2>
          </div>
      </div>
      <div class="col-sm-8 odd">
      <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1 ">Sanger & Eby</h2>
          </div>
      </div>
      <div class="col-sm-8 even">
      <div class="d-flex w-100 justify-content-between">
            <h2 class="mb-1 ">iSqFt</h2>
          </div>
      </div>
    </div>
    

