.list-group{
    padding-left: 15px;
}

.toggle{
    background: #F9F1F2;
    margin:0 auto;
    width:250px;
    text-align:center;
}

.col-sm-8{
    background:#fad98a;
    margin-bottom:5px;
    
}
.odd{
    border-right: 3px solid black;
    border-radius: 5px;
    float:right;
}
.even{
    border-left: 3px solid black;
    border-radius: 5px;
    float:left;
}
.container-fluid{
    background: #D0CBE1;
}