<div style="display:inline;">
  <div class="container-fluid align-middle">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-4">
        <img id="profile" src="https://2.gravatar.com/avatar/b6816bec144f34515cf9929727bf59dc?s=256&d=https%3A%2F%2F2.gravatar.com%2Favatar%2Fad516503a11cd5ca435acc9bb6523536%3Fs%3D256&r=G"/>
      </div>
      <div class="col" id="intro">
        <div >
        <h2 >Andrew Welch.</h2>
        <h4>Web Developer. Seattle.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
